/*selector universal*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* selector tipo etiqueta */
body { 
  background-color: rgb(13, 1, 54);
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.6; /* define interlineado*/
}

a{ 
  margin-left: 50px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: whitesmoke ;
  text-decoration: line;
}

.contenedor {
  width: 80%;
  margin: 0 auto; 
  /*position: fixed;
  top: 0; */
}

.estilo {
  /*padding: 20px;
  margin: 20px 0; */
  width: 80%;
  margin: 0 auto;
  transition: background-color 0.3s ease; /*ajusta el periodo de tiempo en que se realiza el "transition"*/
}

.estilo:hover {
  background-color: aliceblue;
}

.estilo2 {
  /*padding: 20px;
  margin: 20px 0; */
  width: 80%;
  margin: 0 auto;
  transition: background-color 0.3s ease; /*ajusta el periodo de tiempo en que se realiza el "transition"*/
}

.estilo2:hover {
  background-color: rgb(54, 140, 216);
}

header {
  background-color: azure;
  color: black;
  padding: 10px 0;
}

header h1 { /*selector avanzado*/
  text-align: center;
  justify-content: center;

}

nav ul {
  background-color: rgb(39, 39, 39);
  list-style: none;
  display: flex;
  text-align: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {color: rgb(247, 239, 239); text-decoration: none; font-weight: bold; }
nav ul li a:hover {color: black; font-weight: bold; background-color: white;}   
/*a {color: black;} */

/* selector de tipo clase*/
.estilo { background-color: rgb(161, 161, 161) ;}

ol {
  color: aliceblue;
  margin: 15px 15px 15px 150px;
  list-style-type: lower-roman;
}

h2{
  margin-left: 20px;
  margin-right: 50px;
}

h3 {
  margin-left: 40px;
  margin-right: 70px;
}

p {
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
}

button{
  position: relative;
  margin: 0 50% 5% 50%;
  display: flex;
  width: 100px;
  height: 30px;
}

.galxi{
  color: rgb(5, 17, 27);
  margin: 15px 15px 15px 150px;
  list-style-type: decimal;
}

.plan {
  color: rgb(5, 17, 27);
  margin: 15px 15px 15px 150px;
  list-style-type: decimal;
  text-align: justify;
}

img {
  display: block;
  border-radius: 10%;
}

img.mundito {
  margin: auto auto;
  width: 50%;

}

img.espir{
  max-width: 20%;
  max-height: 20%;
}

img.elip {
  max-width: 20%;
  max-height: 20%;
}
/*
img.galesp {
  max-width: 20%;
  max-height: 20%;
  margin: 5px 50px 5px 10px;
}

img.galelip {
  max-width: 20%;
  max-height: 20%;
  margin: 5px 50px 5px 10px;
}

img.gallen {
  max-width: 20%;
  max-height: 20%;
  margin: 5px 50px 5px 10px;
}
*/
img.planetas {
  margin: auto auto;
}

aside {
  background-color: rgb(38, 38, 78);
width: 30%;
padding-left: 15px;
margin-left: 15px;
float: right;
font-style: italic;
font-size: small;
}

aside.saturn {
  background-color: rgb(38, 38, 78);
width: 300px;
height: 70px;
padding-left: 15px;
margin-left: 15px;
float: right;
font-style: italic;
font-size:medium;
text-align: justify;
outline-style: dashed;
}

aside.saturn:hover {
  cursor:help;
  color: white;
}

footer {
  background-color: black;
  color: antiquewhite;
  padding: 10px;
  margin: 10px;
  text-align: center;
  /*position:fixed;
  bottom: 0;*/
}

button.cta { 
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 100px;
  height: 30px;
  text-align: center; /*no estoy logrando alinear el texto */
  padding: 10px 2px;
  border: none;
  border-radius: 5px;
  background-color: rgb(35, 95, 75);
  cursor: pointer;
}

button.cta:hover {
  color: white;
  background-color: black;
}

/*estilos al contenedor de tarjetas usar "flexbox"*/

.cardimagenes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 15px;
}


.card {
  background-color: black;
  border-radius: 10px;
  width: 250px;
  margin: 15px;
  text-align: center;
  color: aliceblue;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: white;
  color: black;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}



