/*selector universal*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* selector tipo etiqueta */
body { 
  background-color: rgb(13, 1, 54);
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.6; /* define interlineado*/
}

.contenedor {
  width: 80%;
  margin: 0 auto; 
}

.estilo {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: azure;
  color: black;
  padding: 10px 0;
}

header h1 { /*selector avanzado*/
  text-align: center;
  justify-content: center;

}

nav ul {
  background-color: rgb(39, 39, 39);
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {color: rgb(247, 239, 239); text-decoration: none; font-weight: bold; }
nav ul li a:hover {color: black; font-weight: bold; background-color: white;}   
/*a {color: black;} */

/* selector de tipo clase*/
.estilo { background-color: rgb(161, 161, 161) ;}

ol {
  color: aliceblue;
  margin: 15px 15px 15px 150px;
  list-style-type: lower-roman;
}

h2{
  margin-left: 20px;
  margin-right: 50px;
}

p {
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
}

button{
  position: relative;
  margin: 0 50% 5% 50%;
  display: flex;
  width: 100px;
  height: 30px;
}

.galxi{
  color: rgb(5, 17, 27);
  margin: 15px 15px 15px 150px;
  list-style-type: decimal;
}

